<!doctype html>
<html lang="en">

<head>
    <% include ../partials/header %>
        <script src="/socket.io/socket.io.js" charset="utf-8"></script>
        <script src="/js/chat/main.js" charset="utf-8"></script>
        <link rel="stylesheet" type="text/css" href="/css/style_images.css">
        <link rel="stylesheet" type="text/css" href="/css/style_video.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">
            <% include ../partials/sidebar %>
        </div>
        <div class="main-panel">
            <div class="navbar-header">
                <span class="navbar-brand">Dashboard</span>
            </div>
            <% include ../partials/navbar %>
                <div class="content">
                    <h3>Video Gallery</h3>
                    <div class="row">
                        <% for(var i=0; i<user.videos.path.length; i++) {%>
                            <div class="col-sm-4">
                                <a href="#openModal">Open Modal</a>
                                <p>Latitude:
                                    <%= user.images.latitude[i]%>º
                                </p>
                                <p>Longuitud:
                                    <%= user.images.longuitud[i]%>º
                                </p>
                                <p>Temperatura:
                                    <%= user.videos.temperature[i]%> Cº</p>
                                <p>Presion:
                                    <%= user.videos.presion[i]%> hPa
                                </p>
                                <p>Humedad:
                                    <%= user.videos.humidity[i]%> %
                                </p>
                                <div id="openModal" class="modalDialog">
                                    <div>
                                        <a href="#close" title="Close" class="close">X</a>
                                        <video width="560" controls>
                                            <source src="video/20170527_104614.mp4" type="video/mp4">
                                        </video>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>
                    <h3>Image Gallery</h3>
                    <div class="container-fluid">
                        <div class="container">
                            <div class="image-grid">
                                <% for(var i=0; i<user.images.path.length; i++) {%>
                                    <button type="button" class="btn btn-default btn-lg" id="<%= user.images.path[i]%>" onclick="return borrar(this)">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                    <figure class="image-grid__figure">
                                        <img class="image-grid__img" src="<%= user.images.path[i]%>" alt="">
                                        <figcaption class="image-grid__caption">

                                            <p>Latitude:
                                                <%= user.images.latitude[i]%>º
                                            </p>
                                            <p>Longuitud:
                                                <%= user.images.longuitud[i]%>º
                                            </p>
                                            <p>Temperatura:
                                                <%= user.images.temperature[i]%> Cº</p>
                                            <p>Presion:
                                                <%= user.images.presion[i]%> hPa
                                            </p>
                                            <p>Humedad:
                                                <%= user.images.humidity[i]%> %
                                            </p>
                                        </figcaption>
                                    </figure>
                                    <% } %>
                            </div>
                        </div>
                        <div class="modal-overlay closed" id="modal-overlay">
                            <i class="material-icons modal-overlay__close">X</i>
                        </div>
                        <div class="modal closed" id="modal">
                            <img class="modal__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg10.jpg" alt="Modal image">
                        </div>
                    </div>
                </div>
                <script src="/js/imagenes.js" charset="utf-8"></script>
                <footer class="footer">
                    <% include ../partials/footer %>
                </footer>
        </div>
    </div>
</body>
<% include ../partials/footer_script %>

</html>