<!doctype html>
<html lang="en">

<head>
    <% include ../partials/header %>
        <script src="/socket.io/socket.io.js" charset="utf-8"></script>
        <script src="/js/chat/main.js" charset="utf-8"></script>
</head>

<body>

    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">
            <% include ../partials/sidebar %>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">User Profile</a>
                    </div>
                    <% include ../partials/navbar %>

                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <div id="success"></div>
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Edit Profile</h4>
                                </div>
                                <div class="content">
                                    <form onsubmit="return update(this)">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>Company (disabled)</label>
                                                    <input type="text" class="form-control" id="company" placeholder="Company" value="<%= user.company%>">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Username</label>
                                                    <input type="text" id="username" class="form-control" placeholder="Username" value="<%= user.username%>">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Email address</label>
                                                    <input type="email" id="email" class="form-control" placeholder="<%= user.email%>">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>First Name</label>
                                                    <input type="text" id="first_name" class="form-control" placeholder="Company" value="<%= user.first_name%>">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Last Name</label>
                                                    <input type="text" id="last_name" class="form-control" placeholder="Last Name" value="<%= user.last_name%>">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Address</label>
                                                    <input type="text" class="form-control" id="address" placeholder="Home Address" value="<%= user.address%>">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>City</label>
                                                    <input type="text" id="city" class="form-control" placeholder="City" value="<%= user.city%>">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Country</label>
                                                    <input type="text" id="country" class="form-control" placeholder="Country" value="<%= user.country%>">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Postal Code</label>
                                                    <input type="number" id="zip" class="form-control" placeholder="<%= user.zip%>">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>About Me</label>
                                                    <textarea rows="5" id="about" class="form-control" placeholder="Here can be your description" value="Mike">
                                                        <%= user.about%>
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-user">
                                <div class="image">
                                </div>
                                <div class="content">
                                    <div class="author">
                                        <a href="#">
                                            <h4 class="title"><%= user.first_name%> <%= user.last_name%><br />
                                         <small><%= user.username%></small>
                                      </h4>
                                        </a>
                                    </div>
                                    <p class="description text-center"> "Lamborghini Mercy
                                        <br> Your chick she so thirsty
                                        <br> I'm in that two seat Lambo"
                                    </p>
                                </div>
                                <hr>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <footer class="footer">
                <% include ../partials/footer %>
            </footer>
        </div>
    </div>
</body>
<% include ../partials/footer_script %>

</html>